body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1 {
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-image: url("cycling2.jpg");
  min-height: 100%;

}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  opacity: 0; 	
}
.pageTitle {
    color:white;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 52px;
    line-height: normal;
    font-family: proxima-nova;
    margin-top: 0;
    letter-spacing: 0.14em;
    opacity: 0;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0;    
}
#subTitle {
    cursor: pointer;    
}     
.caption span.border:hover{
    background-color: #feb0b0;    
}
.captionPHP{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  opacity: 1; 	
}
.pageTitlePHP {
    color:white;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 52px;
    line-height: normal;
    font-family: proxima-nova;
    margin-top: 0;
    letter-spacing: 0.14em;
    opacity: 1;
}
.captionPHP span.borderPHP {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 1;    
}
#subTitlePHP {
    cursor: pointer;    
}     
.captionPHP span.borderPHP:hover{
    background-color: #feb0b0;    
}
table.countries-choice {
	position: relative;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}
p.countries-choice{
	font-family: "Raleway","Helvetica Neue",sans-serif;
	color: black;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
}
th.countries-choice :hover{
	color: #feb0b0;
}
table.country-select {
	position: relative;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}
th.country-select {
	height: 50px;
    padding: 15px;
    text-align: Center;
	
}
tr.country-select {
	text-align: center;
	
}
table.country-display {
	position: relative;
	width: 65%;
    margin-left: auto;
    margin-right: auto;
}
th.country-display {
	height: 50px;
    padding: 15px;
    text-align: center;
	
}
tr.country-display {
	tex-align: center;
	
}
h3.country-select {
	height: 50px;
    padding: 15px;
    text-align: Center;
	position: absolute;
}
h2 {
	box-sizing: border-box;
	color: #302a2c;
    font-style: normal;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
	font-size:20px;
	letter-spacing: 5px;
	text-align: center;
	padding: 25px;
}
h3{
	box-sizing: border-box;
	color: #302a2c;
    font-style: normal;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
	font-size:14px;
	letter-spacing: 2px;
	text-align: center;
	padding: 25px;
}
input{
	border: 1px solid #eee;
    box-shadow: 0 0 0 #fff;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 10px;
    width: 60%;
	outline: none;
}
input[type=text]:focus {
    border: 1px solid #feb0b0;
}
input[type="submit"] {
	position: absolute;
    background: #302a2c;
    border: 1px solid #302a2c;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 15px 20px;
    text-transform: uppercase;
	align-items: flex-start;
	left: 20%;
}
input[type="submit"]:hover{
    background: #feb0b0;
	border-color: #feb0b0;	
}
a {
    color: black;
}

.countries-choice{
	position:relative;
}

.cyclistList table {
	border-collapse: collapse;
    border: 1px solid #feb0b0;
    margin: 0px auto;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cyclistList th, td {
    text-align: center;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cyclistList tr:nth-child(even){background-color: #f2f2f2;}




